#cmd {
  font-family: courier;
  font-size: 16px;
  background: black;
  color: #ffffff;
  overflow: hidden;
  display: inline-block;
}

#cmd span {
  float: left;
  padding-left: 3px;
  white-space: pre;
}

#pre-cursor {
  overflow: hidden;
  display: inline-block;
  height: 18px;
}

.cursor-inside {
  float: left;
  width: 10px;
  height: 18px;
  background: #ffffff;
  border: 1px solid #000000;
}

.cursor-outside {
  float: left;
  margin: 1px;
  width: 8px;
  height: 16px;
  background: #000000;
  visibility: hidden;
  border: 1px solid #FFFFFF;
}

input {
  width: 0;
  height: 0;
  opacity: 0;
}


