nav, ul, li, a {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

nav a {
  text-decoration: none;
}

.container {
  width: 90%;
  max-width: 900px;
  margin-top: 26px;
  font-family: Cantarell;
  font-size: 14px;
}

.toggleMenu {
  position: absolute;
  left: 0;
  top: 21px;
  display: none;
  background: #666;
  padding: 10px 15px;
  color: #fff;
}

.nav {
  list-style: none;
  *zoom: 1;
  background: #ffffff;
  &:before {
    content: " ";
    display: table;
  }
  &:after {
    content: " ";
    display: table;
    clear: both;
  }
  ul {
    list-style: none;
    width: 9em;
  }
  a {
    padding: 7px 7px;
    color: #2e3436;
    &:hover {
      cursor: default;
    }
  }
  li {
    position: relative;
    span {
      padding: 7px 7px;
      display: block;
      color: #2e3436;
    }
    &:hover {
      cursor: default;
      background-color: #ffffff;
    }
    ul {
      position: absolute;
      left: -9999px;
    }
    li {
      &.hover ul {
        left: 100%;
        top: 0;
      }
      a {
        display: block;
        background: #ffffff;
        position: relative;
        z-index: 100;
        padding-left: 20px;
        &:hover {
          color: #ffffff;
          background: #4a90d9;
        }
      }
      li a {
        background: #ffffff;
        z-index: 200;
      }
    }
  }
  > li {
    float: left;
    > {
      /*.parent! {}   */
      a {
        display: block;
      }
    }
  }
  > li.hover > ul {
    left: 0;
  }
}

/*@media screen and (max-width: 768px) {
  .active {
    display: block;
  }
  .nav {
    position: absolute;
    top: 60px;
    > li {
      float: none;
      z-index: 2;
      > .parent {
        background-position: 95% 50%;
      }
    }
    li li .parent {
      background-image: url("images/downArrow.png");
      background-repeat: no-repeat;
      background-position: 95% 50%;
    }
    ul {
      display: block;
      width: 100%;
    }
    > li.hover > ul, li li.hover ul {
      position: static;
    }
  }
}
*/